services:

  redis-stack:
    image: redis/redis-stack:latest
    container_name: redis-stack
    ports:
      - "6379:6379"
      - "8001:8001"
    volumes:
      - ./docker/db/redis/redis-stack-data:/data
    command:
      [
        "redis-stack-server",
        "--notify-keyspace-events",
        "Ex"
      ]
    networks:
      - msa-network

  mongodb:
    image: mongo:8.0
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: examplepassword
    volumes:
      - ./docker/db/mongo/mongo-data:/data/db
    networks:
      - msa-network

  postgresql-server:
    container_name: postgresql
    image: postgres:17.6
    restart: always
    environment:
      POSTGRES_DB: default
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    volumes:
      - ./docker/db/postgresql:/var/lib/postgresql
      - ./docker/db/init:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"

    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "root", "-d", "default", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5

    networks:
      - msa-network

  config-server:
    container_name: config
    build: ./config/.
    restart: always
    ports:
      - "19900:19900"
    environment:
      SPRING_PROFILES_ACTIVE: dev
#    depends_on:
#      eureka-server:
#        condition: service_healthy

#    healthcheck:
#      test: [ "CMD", "curl", "-f", "http://localhost:19900/actuator/health" ]
#      interval: 10s
#      timeout: 5s
#      retries: 10

    networks:
      - msa-network

  eureka-server:
    container_name: eureka
    build: ./eureka/.
    restart: always
    ports:
      - "18800:18800"
#    healthcheck:
#      test: [ "CMD", "curl", "-f", "http://localhost:18800/actuator/health" ]
#      interval: 10s
#      timeout: 5s
#      retries: 5
    networks:
      - msa-network

  gateway-server:
    container_name: gateway
    build: ./gateway/.
    restart: always
    ports:
      - "17700:17700"
    environment:
      SPRING_PROFILES_ACTIVE: dev

#    depends_on:
#      eureka-server:
#        condition: service_healthy

    networks:
      - msa-network

  zipkin:
    image: openzipkin/zipkin
    container_name: zipkin
    restart: always
    ports:
      - "9411:9411"
    networks:
      - msa-network

  kafka-1:
    image: apache/kafka:latest
    container_name: kafka-1
    ports:
      - "19092:9093"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_LISTENERS: "INTERNAL://0.0.0.0:9092,EXTERNAL://0.0.0.0:9093,CONTROLLER://0.0.0.0:9094"

      KAFKA_ADVERTISED_LISTENERS: "INTERNAL://kafka-1:9092,EXTERNAL://localhost:19092"

      # 보안은 개발 중 보안 프로토콜 적용하지 않음
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT"

      KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"

      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"

      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka-1:9094,2@kafka-2:9094,3@kafka-3:9094"

      CLUSTER_ID: "ciWo7IWazngRchmPES6q5A=="

      # 컨슈머 오프셋 내부 토픽 복제
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3

      # 트랜잭션 상태 로그 내부 토픽 복제 (Exactly-once 용)
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 3
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 2

      # 일반 토픽의 최소 ISR (acks=all과 같이 사용할 값)
      KAFKA_MIN_INSYNC_REPLICAS: 2

      # 자동 토픽 생성 (개발용 아니면 보통 false)
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "false"

      # 데이터 디렉터리
      KAFKA_LOG_DIRS: "/var/lib/kafka/data"

    volumes:
      - kafka-1-data:/var/lib/kafka/data

    networks:
      - msa-network

  kafka-2:
    image: apache/kafka:latest
    container_name: kafka-2
    ports:
      - "29092:9093"
    environment:
      KAFKA_NODE_ID: 2
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_LISTENERS: "INTERNAL://0.0.0.0:9092,EXTERNAL://0.0.0.0:9093,CONTROLLER://0.0.0.0:9094"

      KAFKA_ADVERTISED_LISTENERS: "INTERNAL://kafka-2:9092,EXTERNAL://localhost:29092"

      # 보안은 개발 중 보안 프로토콜 적용하지 않음
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT"

      KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"

      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"

      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka-1:9094,2@kafka-2:9094,3@kafka-3:9094"

      CLUSTER_ID: "ciWo7IWazngRchmPES6q5A=="


      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 3
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 2
      KAFKA_MIN_INSYNC_REPLICAS: 2
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "false"

      KAFKA_LOG_DIRS: "/var/lib/kafka/data"

    volumes:
      - kafka-2-data:/var/lib/kafka/data

    networks:
      - msa-network
  kafka-3:
    image: apache/kafka:latest
    container_name: kafka-3
    ports:
      - "39092:9093"
    environment:
      KAFKA_NODE_ID: 3
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_LISTENERS: "INTERNAL://0.0.0.0:9092,EXTERNAL://0.0.0.0:9093,CONTROLLER://0.0.0.0:9094"

      KAFKA_ADVERTISED_LISTENERS: "INTERNAL://kafka-3:9092,EXTERNAL://localhost:39092"

      # 보안은 개발 중 보안 프로토콜 적용하지 않음
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT"

      KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"

      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"

      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka-1:9094,2@kafka-2:9094,3@kafka-3:9094"

      CLUSTER_ID: "ciWo7IWazngRchmPES6q5A=="


      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 3
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 2
      KAFKA_MIN_INSYNC_REPLICAS: 2
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "false"

      KAFKA_LOG_DIRS: "/var/lib/kafka/data"

    volumes:
      - kafka-3-data:/var/lib/kafka/data

    networks:
      - msa-network

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    restart: always
    ports:
      - "18080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka-1:9092,kafka-2:9092,kafka-3:9092
      KAFKA_CLUSTERS_0_PROPERTIES_SECURITY_PROTOCOL: PLAINTEXT
    depends_on:
      - kafka-1
      - kafka-2
      - kafka-3
    networks:
      - msa-network



  member-service:
    container_name: member-service
    build: ./member/.
    ports:
      - "9900:9900"
    environment:
      SPRING_PROFILES_ACTIVE: dev
    networks:
      - msa-network

  auction-service:
    container_name: auction-service
    build: ./auction/.
    ports:
      - "6600:6600"
      - "5005:5005"
    environment:
      SPRING_PROFILES_ACTIVE: dev
    networks:
      - msa-network

  category-service:
    container_name: category-service
    build: ./category/.
    ports:
      - "3300:3300"
    environment:
      SPRING_PROFILES_ACTIVE: dev
    networks:
      - msa-network

  payment-service:
    container_name: payment-service
    build: ./payment/.
    ports:
      - "4400:4400"
    environment:
      SPRING_PROFILES_ACTIVE: dev
      PG_SECRET_KEY: ${PG_SECRET_KEY}
    dns:
      - 8.8.8.8
      - 8.8.4.4
    networks:
      - msa-network


volumes:
  kafka-1-data:
  kafka-2-data:
  kafka-3-data:
  mongo-data:
    driver: local

networks:
  msa-network:
    driver: bridge
