# auction - application-dev.yml
server:
  port: 6600

spring:
  config:
    activate:
      on-profile: dev
    import: "optional:configserver:"
  cloud:
    config:
      discovery:
        enabled: true
        service-id: config-server
  datasource:
    url: jdbc:postgresql://postgresql:5432/auction
    username: root
    password: root
    driver-class-name: org.postgresql.Driver
  data:
    mongodb:
      uri: mongodb://root:examplepassword@mongodb:27017/default?authSource=admin
      auto-index-creation: true
    redis:
      host: redis-stack
      port: 6379
      password: ""
      database: 0
      ssl:
        enabled: false

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        # SQL 포매팅 출력
        format_sql: true
        # SQL 실행 시 주석 포함
        use_sql_comments: true
    show_sql: false
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
      data-locations: classpath:data.sql

  kafka:
    # 로컬에서 Docker로 띄운 브로커 외부 포트에 맞춰 설정 (docker-compose의 EXTERNAL 매핑)
    bootstrap-servers: kafka-1:9092,kafka-2:9092,kafka-3:9092

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka-server:18800/eureka/
  instance:
    prefer-ip-address: true

stomp:
  relay:
    host: artemis
