server:
  port: 8800

spring:

  cloud:
    config:
      enabled: false

  application:
    name: product-service
  datasource:
    url: jdbc:postgresql://localhost:5432/product-db
    username: root
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true