# member - application.yml
server:
  port: 9900

spring:
  application:
    name: member-service
  cloud:
    discovery:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
      show-components: always

seller:
  topic:
    seller-register:
      v1: seller.register.v1
      v2: seller.register.v2
    seller-settlement:
      v1: seller.settlement.v1

member:
  topic:
    seller-register:
      v1: seller.register.v1
      v2: seller.register.v2