server:
  port: 17700

spring:
  application:
    name: gateway-server
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
              route-id-prefix: gateway_
          routes:
            - id: member-service
              uri: lb://member-service
              predicates:
                - Path=/api/v*/members/**,/api/v*/internal/members/**,/api/v*/sellers/**

            - id: auction-service
              uri: lb://auction-service
              predicates:
               - Path=/api/v*/auctions/**

            - id: product-service
              uri: lb://product-service
              predicates:
               - Path=/api/v*/products/**

            - id: payment-service
              uri: lb://payment-service
              predicates:
                - Path=/api/v*/payments/**

            - id: fee-policy-service
              uri: lb://fee-policy-service
              predicates:
                - Path=/api/v*/fee-policies/**

            - id: cancel-policy-service
              uri: lb://cancel-policy-service
              predicates:
                - Path=/api/v*/cancel-policies/**

            - id: order-service
              uri: lb://order-service
              predicates:
                - Path=/api/v*/orders/**, /api/v*/admin/orders/**

            - id: bid-competition-service
              uri: lb://bid-competition-service
              predicates:
                - Path=/api/v*/bid-competitions/**

eureka:
  instance:
    hostname: gateway-server
