spring:
  application:
    name: gateway
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
              route-id-prefix: gateway_
          routes:
            - id: member-service
              uri: lb://member-service
              predicates:
                - Path=/v*/member/**
              filters:

