server:
  port: 17700

spring:
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.security.reactive.ReactiveSecurityAutoConfiguration
      - org.springframework.boot.autoconfigure.security.reactive.ReactiveUserDetailsServiceAutoConfiguration
  application:
    name: gateway-server
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
              route-id-prefix: gateway_
          routes:
            - id: member-service
              uri: lb://member-service
              predicates:
                - Path=/api/v*/members/**,/api/v*/internal/members/**,/api/v*/sellers/**

            - id: auction-service
              uri: lb://auction-service
              predicates:
               - Path=/api/v*/auctions/**

            # TODO: 어떻게 동작하는건지 정리하기
            - id: auction-ws
              uri: lb:ws://auction-service
              predicates:
                - Path=/ws-auction/**
              filters:
                - RewritePath=/ws-auction/(?<segment>.*),/ws-auction/${segment}

            - id: product-service
              uri: lb://product-service
              predicates:
               - Path=/api/v*/products/**

            - id: payment-service
              uri: lb://payment-service
              predicates:
                - Path=/api/v*/payments/**

            - id: fee-policy-service
              uri: lb://fee-policy-service
              predicates:
                - Path=/api/v*/fee-policies/**

            - id: cancel-policy-service
              uri: lb://cancel-policy-service
              predicates:
                - Path=/api/v*/cancel-policies/**

            - id: order-service
              uri: lb://order-service
              predicates:
                - Path=/api/v*/external/orders/**, /api/v*/admin/orders/**

            - id: bid-service
              uri: lb://bid-service
              predicates:
                - Path=/api/v*/external/bid-competitions/**

eureka:
  instance:
    hostname: gateway-server

member:
  service:
    base-url: lb://member-service

management:
  endpoints:
    web:
      exposure:
        include: prometheus,health,info
  metrics:
    tags:
      application: member-service
  endpoint:
    health:
      show-details: always
      show-components: always