# application-prod.yml
spring:
  config:
    activate:
      on-profile: prod

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://keepgoing-alb-1744092232.ap-northeast-2.elb.amazonaws.com/eureka/