spring:
  application:
    name: payment-service

management:
  endpoints:
    web:
      exposure:
        include: prometheus,health,info
  metrics:
    tags:
      application: payment-service
  endpoint:
    health:
      show-details: always
      show-components: always