spring:
  application:
    name: payment-service
  profiles:
    active: local
  datasource:
    url: jdbc:postgresql://postgres:5432/payment
    username: root
    password: root
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 30000
      pool-name: HikariPool
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  data:
    mongodb:
      uri: mongodb://mongo_user:mongo_pass@mongo:27017/my_mongo_db?authSource=admin
      auto-index-creation: true

server:
  port: 4400

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    com.example: DEBUG
