server:
  port: 3300

spring:
  application:
    name: category-service

  cloud:
    config:
      enabled: false
    discovery:
      enabled: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
  instance:
    hostname: category-service
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 30
    lease-expiration-duration-in-seconds: 90
