spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:postgresql://postgresql:5432/category
    username: root
    password: root
    driver-class-name: org.postgresql.Driver

  sql:
    init:
      mode: always

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:18800/eureka/
