spring:
  application:
    name: category

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${RDS_END_POINT}/category
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        default_batch_fetch_size: 100

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    properties:
      security.protocol: SASL_SSL
      sasl.mechanism: AWS_MSK_IAM
      sasl.jaas.config: software.amazon.msk.auth.iam.IAMLoginModule required;
      sasl.client.callback.handler.class: software.amazon.msk.auth.iam.IAMClientCallbackHandler

eureka:
  client:
    enabled: false

server:
  port: 3300

management:
  endpoints:
    web:
      exposure:
        include: health,info
